<div class="header">
    <a href="{{ routes.root_url }}" aria-current="page" class="homelink w-inline-block w--current"><img src="{{ 'su-typemark_transparent0.5x.png' | asset_url }}" loading="lazy" width="257" sizes="(max-width: 514px) 100vw, 514px" alt="" srcset="{{ 'su-typemark_transparent0.5x-p-500.png' | asset_url }} 500w, {{ 'su-typemark_transparent0.5x.png' | asset_url }} 514w" class="image"></a>
    
  </div>